[Unit]
Description=Check LiuLian VPN account expiry every minute

[Timer]
OnBootSec=15s
OnUnitActiveSec=60s
AccuracySec=1s

[Install]
WantedBy=timers.target
